@import url('@xyflow/react/dist/style.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.handles {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.handles.sources {
  right: 0;
  top: 0;
  height: 100%;
  transform: translate(50%, 0);
}

.handles.targets {
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(-50%, 0);
}

.handles .react-flow__handle {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}